<!-- 


-->
<launch>
  <arg name="noshow" default="true" />

  <arg name="pixel_format" default="yuyv" />
  <arg name="width" default="320" />
  <arg name="height" default="240" />

  <node pkg="tf" type="static_transform_publisher" name="stp_cam_eye_right" 
        args="-0.02 0 0 0 0 0 /gripper_palm_link /cam_eye_right 10" />

  <node pkg="tf" type="static_transform_publisher" name="stp_cam_back" 
        args="-0.015 0 0 3.14 0 0 /base_footprint /cam_back 10" />

  <!--<node pkg="tf" type="static_transform_publisher" name="stp_cam_back_2" 
        args="-0.25 -0.1 0 3.14 0 0 /base_footprint /cam_back_2 10" />-->
<!--

  <node name="cam_back_2" 
    pkg="usb_cam" type="usb_cam_node"  >
    <param name="video_device" 
           value="/dev/v4l/by-id/usb-046d_0994_FEC24AA0-video-index0" />
    <param name="image_width" value="$(arg width)" />
    <param name="image_height" value="$(arg height)" />
    <param name="pixel_format" value="mjpeg" />
    <param name="camera_frame_id" value="/cam_back_2" />
    <param name="io_method" value="mmap"/>
  </node>
-->

  <node name="cam_back" 
    pkg="usb_cam" type="usb_cam_node" >
    <param name="video_device" 
           value="/dev/v4l/by-id/usb-046d_0994_D46989A0-video-index0" />
    <param name="image_width" value="$(arg width)" />
    <param name="image_height" value="$(arg height)" />
    <param name="pixel_format" value="$(arg pixel_format)" />
    <param name="camera_frame_id" value="/cam_back" />
    <param name="io_method" value="mmap"/>
  </node>


  <node name="cam_eye_right" 
    pkg="usb_cam" type="usb_cam_node"  >
    <param name="video_device" 
           value="/dev/v4l/by-id/usb-Vimicro_Corp._Venus_USB2.0_Camera-video-index0" />
    <param name="image_width" value="$(arg width)" />
    <param name="image_height" value="$(arg height)" />
    <param name="pixel_format" value="$(arg pixel_format)" />
    <param name="camera_frame_id" value="/cam_eye_right" />
    <param name="io_method" value="mmap"/>
  </node>

<group  unless="$(arg noshow)" >
  <node name="image_view1" pkg="image_view" type="image_view" 
        respawn="false" output="screen">
    <remap from="image" to="/cam_eye_right/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  <node name="image_view2" pkg="image_view" type="image_view" 
        respawn="false" output="screen">
    <remap from="image" to="/cam_back/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  <!--<node name="image_view3" pkg="image_view" type="image_view" 
        respawn="false" output="screen">
    <remap from="image" to="/cam_back_2/image_raw"/>
    <param name="autosize" value="true" />
  </node>-->
</group>

</launch>